{% extends 'base.html' %}

{% block title %}Cadastrar Itens{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Cadastrar Novo Item</h1>

    <!-- Mensagens de sucesso ou erro -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert-container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <!-- Formulário de cadastro -->
    <form method="POST">
        <div class="form-group">
            <label for="nome">Nome do Item:</label>
            <input type="text" name="nome" id="nome" value="{{ nome }}" required>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="descricao" required>{{ descricao }}</textarea>
        </div>

        <div class="form-row">
            <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="categoria" required>
                <option value="" disabled selected>Selecione uma categoria</option>
                <option value="Alimento" {% if categoria == 'Alimento' %}selected{% endif %}>Alimento</option>
                <option value="Higiene" {% if categoria == 'Higiene' %}selected{% endif %}>Higiene</option>
                <option value="Limpeza" {% if categoria == 'Limpeza' %}selected{% endif %}>Limpeza</option>
                <option value="Escritorio" {% if categoria == 'Escritorio' %}selected{% endif %}>Escritório</option>
                <option value="Manutencao" {% if categoria == 'Manutencao' %}selected{% endif %}>Manutenção</option>
                <option value="Outros" {% if categoria == 'Outros' %}selected{% endif %}>Outros</option>
            </select>
            </div>

        
            <div class="form-group">
                <label for="quantidade">Quantidade Inicial:</label>
                <input type="number" class="margintopitem" name="quantidade" id="quantidade" value="{{ quantidade }}" min="0" required style="width: 200px; height: 32px;">
            </div>
            <div class="form-group">
                <label for="preco">Preço: <br></label>
                <input type="number" class="margintopitem" name="preco" id="preco" value="{{ preco }}" step="0.01" min="0" required style="width: 200px; height: 32px;">
            </div>
        </div>

        <button type="submit" class="btn-cadastrar">Cadastrar</button>
    </form>
</div>
{% endblock %}
