{% extends 'base.html' %}

{% block title %}Cestas Básicas{% endblock %}

{% block content %}
<div id="cestas-page">
    <div class="cestas-form-container">
        <h1>Gerar Cestas Básicas</h1>

        <!-- Exibe a quantidade máxima de cestas básicas que podem ser geradas -->
        <p>Você pode gerar até {{ max_cestas }} cestas básicas.</p>

        <!-- Formulário para gerar cestas básicas -->
        <form method="POST" action="{{ url_for('gerar_cestas') }}">
            <div class="form-group">
                <label for="quantidade">Quantidade de cestas:</label>
                <input type="number" name="quantidade" id="quantidade" required>
            </div>
            
            <button type="submit" class="btn-cadastrar">Gerar Cestas</button>
        </form>

        <!-- Exibe mensagens de sucesso ou erro, se houver -->
        <div id="mensagens">
            <ul>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                    {% for category, message in messages %}
                        <li class="alert alert-{{ category }}">{{ message|safe }}</li> <!-- Uso de |safe -->
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
