{% extends 'base.html' %}

{% block title %}Editar Morador{% endblock %}

{% block content %}
    <h1 class="text-center">Editar Morador</h1>

    <form method="POST" action="{{ url_for('editar_morador', morador_id=morador.id) }}" class="form-container">
        <div class="form-row">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" value="{{ morador.nome }}" required class="form-control">
            </div>
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf" value="{{ morador.cpf }}" required class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="apelido">Apelido (Opcional):</label>
                <input type="text" name="apelido" value="{{ morador.apelido }}" class="form-control">
            </div>
            <div class="form-group">
                <label for="endereco">Endereço:</label>
                <input type="text" name="endereco" value="{{ morador.endereco }}" required class="form-control">
            </div>
        </div>
        <div class="form-group radio-group">
            <label>Benefício:</label>
            <div>
                <input type="radio" id="sim" name="beneficio" value="sim" {% if morador.beneficio %}checked{% endif %}>
                <label for="sim" class="btn-filter">Sim</label>

                <input type="radio" id="nao" name="beneficio" value="nao" {% if not morador.beneficio %}checked{% endif %}>
                <label for="nao" class="btn-filter">Não</label>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="filter-button btn-lg">Atualizar</button>
        </div>
    </form>
{% endblock %}
