{% extends 'base.html' %} 

{% block title %}Home{% endblock %} 

{% block content %}
    <div id="home-page">
        <!-- Conteúdo da home -->
        <div class="container">
            <div class="column">
                <div class="status-container">
                    <h3>Quantidade de Projetos</h3>
                    
                </div>

                <div class="status-container">
                    <h3>Reclamações</h3>
                    
                </div>
            </div>

            <div class="column">
                <div class="status-container">
                    <h3>Agenda de Compromissos</h3>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
