{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="home-page" class="home-page">
    <div class="container">
        <!-- Primeira Coluna: Projetos e Reclamações -->
        <div class="column">
            <div class="status-container">
                <h3>Quantidade de Projetos</h3>
                <div class="status-content">
                    <img src="{{ url_for('static', filename='img/projeto.png') }}" alt="Ícone de projetos" width="100" height="100">
                    <ul>
                        <li class="nao-iniciado">Não Iniciado: {{ nao_iniciados }}</li>
                        <li class="em-andamento">Em Andamento: {{ em_andamento }}</li>
                        <li class="pendente">Pendentes: {{ pendentes }}</li>
                        <li class="concluido">Concluídos: {{ concluidos }}</li>
                        <li class="cancelado">Cancelados: {{ cancelados }}</li>
                        <li class="total_projetos">Total de Projetos: {{ total_projetos }}</li>
                    </ul>
                </div>
            </div>

            <div class="status-container">
                <h3>Reclamações</h3>
                <div class="status-content">
                    <img src="{{ url_for('static', filename='img/reclamacao.png') }}" alt="Ícone de reclamações" width="100" height="100">
                    <!-- Adicione aqui os dados de Reclamações -->
                </div>
            </div>
        </div>

        <!-- Segunda Coluna: Moradores e Beneficiados -->
        <div class="column">
            <div class="status-container">
                <h3>Moradores e Beneficiados</h3>
                <div class="status-content">
                    <img src="{{ url_for('static', filename='img/moradores.png') }}" alt="Ícone de moradores" width="100" height="100">
                    <ul>
                        <li>Total de Moradores: {{ total_moradores }}</li>
                        <li>Moradores Beneficiados: {{ moradores_beneficiados }}</li>
                    </ul>
                </div>
            </div>
            

            <div class="status-container">
                <h3>Eventos</h3>
                <div class="status-content">
                    <img src="{{ url_for('static', filename='img/eventos.png') }}" alt="Ícone de eventos" width="100" height="100">
                    <!-- Adicione aqui os dados de Eventos -->
                </div>
            </div>
        </div>

        <!-- Terceira Coluna: Agenda de Compromissos (última coluna) -->
        <div class="column agenda-column">
            <div class="status-container">
                <h3>Agenda de Compromissos</h3>

                <!-- Compromissos de Hoje -->
                <h4>Compromissos de Hoje</h4>
                <div class="agenda-container">
                    {% if compromissos_hoje %}
                        {% for compromisso in compromissos_hoje %}
                        <div class="agenda-card">
                            <h5>{{ compromisso.nome_compromisso }}</h5>
                            <p>Horário: {{ compromisso.hora.strftime('%H:%M') }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                    <p class="no-compromissos">Nenhum compromisso para hoje.</p>
                    {% endif %}
                </div>

                <!-- Compromissos da Semana -->
                <h4>Compromissos da Semana</h4>
                <div class="agenda-container">
                    {% if compromissos_semana %}
                        {% for compromisso in compromissos_semana %}
                        <div class="agenda-card">
                            <h5>{{ compromisso.nome_compromisso }}</h5>
                            <p>Data: {{ compromisso.data.strftime('%d/%m/%Y') }}</p>
                            <p>Horário: {{ compromisso.hora.strftime('%H:%M') }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                    <p class="no-compromissos">Nenhum compromisso para esta semana.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
