<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Assocoação dos Moradores da Vila Ipiranga</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header class="header">

    <!-- Logo -->
      <img src="https://gartic.com.br/imgs/mural/ar/army2017/peridot-steven-universo.png" alt="Logo do site">
      <h1>Nome do Projeto</h1>
    
  </header>
</div> 

  <!-- parte azul inferior -->
  <div> <nav class="navbar">
    <!-- Navbar -->
   </div>

  <!-- Inicio do conteudo das caixinhas -->
  <div class="container">
      <div class="column coluna1">
          <!-- Quantidade de Projetos -->
          <div class="status-container">
              <h3>Quantidade de Projetos</h3>
              <form action="#" method="post">
                  <div class="grupo">
                      <label for="projetos">Quantidade de Projetos:</label>
                      <input type="number" id="projetos" name="projetos">
                  </div>
                  <button type="submit">Salvar</button>
              </form>
          </div>

          <!-- Reclamações -->
          <div class="status-container">
              <h3>Reclamações</h3>
              <form action="#" method="post">
                  <div class="grupo">
                      <label for="reclama">Reclamação:</label>
                      <textarea id="reclama" name="reclama" rows="4"></textarea>
                  </div>
                  <button type="submit">Enviar</button>
              </form>
          </div>
      </div>

      <div class="column coluna2">
          <!-- Agenda de Compromissos -->
          <div class="status-container">
              <h3>Agenda de Compromissos</h3>
              <form action="#" method="post">
                  <div class="grupo">
                      <label for="compromisso">Data:</label>
                      <input type="date" id="compromisso" name="compromisso">
                  </div>
                  <div class="grupo">
                      <label for="dataUrgente">Data com Urgência:</label>
                      <input type="date" id="dataUrgente" name="dataUrgente">
                  </div>
                  <div class="grupo">
                      <label for="eventoHoje">Evento de Hoje:</label>
                      <input type="text" id="eventoHoje" name="eventoHoje">
                  </div>
                  <button type="submit">Salvar</button>
              </form>
          </div>

          <!-- Quantidade de Moradores e Beneficiados -->
          <div class="status-container">
              <h3>Moradores e Beneficiados</h3>
              <form action="#" method="post">
                  <div class="grupo">
                      <label for="moradores">Quantidade de Moradores:</label>
                      <input type="number" id="moradores" name="moradores">
                  </div>
                  <div class="grupo">
                      <label for="beneficiarios">Quantidade de Beneficiados:</label>
                      <input type="number" id="beneficiarios" name="beneficiarios">
                  </div>
                  <button type="submit">Salvar</button>
              </form>
          </div>

          <!-- Eventos -->
          <div class="status-container">
              <h3>Eventos</h3>
              <form action="#" method="post">
                  <div class="grupo">
                      <label for="dataEvento">Data do Evento:</label>
                      <input type="date" id="dataEvento" name="dataEvento">
                  </div>
                  <div class="grupo">
                      <label for="descricaoEvento">Descrição do Evento:</label>
                      <input type="text" id="descricaoEvento" name="descricaoEvento">
                  </div>
                  <button type="submit">Salvar</button>
              </form>
          </div>
      </div>
    
  </div>
  <footer class="pe">
      <p>👽. Todos os direitos reservados.</p>
  </footer>
</body>

</html>